body {
    /* height: 100vh; */
    /* width: auto; */
    margin: 0;
}

h1 {
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;

    grid-template-columns: 300px auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    
    background-color: lightgrey;

}


/* For Later

.sidebar > button {
    background-color: transparent;
    border: none;
} */
