* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* height: 100vh; */
    /* width: auto; */
    margin: 0;
}

h1 {
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;

    grid-template-columns: 300px auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    
    background-color: lightgrey;

}

.sidebar > button {
    /* background-color: transparent; */
    /* border: none; */
    margin: 0px 10px;
    padding: 2px;
}

.action-buttons {
    display: flex;
    justify-content: stretch;
    margin: 30px 10px;
    gap: 1px;
}

.action-buttons > button {
    flex-grow: 1;
    background-color: rgb(40, 108, 255);
    color: white;
    border-radius: 4px;
}

.remove-todo-button {
    background-color: red;
    color: white;
    border-radius: 6px;
}

textarea {
    resize: none;
}

.main-page {
    margin: 0 100px;
}

.main-page > p {
    text-align: center;
}

.task {
    padding: 10px;
    background-color: rgb(225, 225, 225);
    margin: 8px 40px;
    border-radius: 0.5rem;
}

.hide {
    display: none;
}

.complete {
    text-decoration: line-through;
    color: grey;
}